<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="list" class="nav-link" routerLinkActive="active"
        >Consultar Respuestas</a
      >
    </li>
    <li class="nav-item">
      <a routerLink="add" class="nav-link" routerLinkActive="active"
        >Registrar Formulario de Encuesta</a
      >
    </li>
  </ul>
</nav>

<h3>Crear Encuesta</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Número de documento</label>
      <input
        type="number"
        class="form-control"
        required
        [(ngModel)]="encuesta.nroDocumento"
        name="nroDocumento"
        required
      />
    </div>

    <div class="form-group">
      <label for="name">Correo Electrónico</label>
      <input
        type="email"
        class="form-control"
        required
        [(ngModel)]="encuesta.email"
        name="email"
      />
    </div>

    <div class="form-group">
      <label for="name">Comentarios</label>
      <input
        type="text"
        class="form-control"
        required
        [(ngModel)]="encuesta.comentarios"
        name="comentarios"
      />
    </div>

    <div class="form-group">
      <label for="name">Marca Favorita PC</label>
      <select [(ngModel)]="marcaPc" class="form-control">
        <option *ngFor="let itm of listMarcaPC" [value]="itm.id">{{
          itm.nombre
        }}</option>
      </select>
    </div>

    <button type="submit" class="btn btn-success">Aceptar</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <!-- <button class="btn btn-success" (click)="newEmployee()">Add</button> -->
</div>
